In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

In [5]:
df = pd.read_csv(r'C:\Users\navji\Downloads\CIS_4930_Heart_Disease_Dataset.csv')

In [6]:
df

,General_Health,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,Very Good,Within the past year,Yes,No,No,No,No,No,No,Female,18-24,157,54.43,21.95,No,20,12,12,4
1,Very Good,Within the past year,Yes,No,No,No,No,Yes,No,Female,18-24,163,77.11,29.18,No,5,16,12,16
2,Very Good,Within the past year,Yes,No,No,No,No,No,No,Female,18-24,163,58.97,22.31,No,10,60,12,16
3,Very Good,Within the past year,Yes,No,No,No,No,No,No,Female,45-49,170,53.52,18.48,No,8,60,4,0
4,Excellent,Within the past 2 years,Yes,No,No,No,Yes,No,No,Female,30-34,175,61.23,19.94,No,4,10,28,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262527,Very Good,Within the past year,Yes,No,No,No,No,No,No,Male,25-29,168,81.65,29.05,No,4,30,8,0
262528,Fair,Within the past 5 years,Yes,No,No,No,No,Yes,No,Male,65-69,180,69.85,21.48,No,8,15,60,4
262529,Very Good,5 or more years ago,Yes,No,No,No,Yes,"Yes, but female told only during pregnancy",No,Female,30-34,157,61.23,24.69,Yes,4,40,8,4
262530,Very Good,Within the past year,Yes,No,No,No,No,No,No,Male,65-69,183,79.38,23.73,No,3,30,12,0
262531,Excellent,Within the past year,Yes,No,No,No,No,No,No,Female,45-49,160,81.19,31.71,No,1,5,12,1